* {
    margin: 0;
    padding: 0;
}

table {
    margin: 0;
    padding: 0;
    text-indent: 0;
}

body {
    font-family: tahoma;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

#wapper {
    width: 1200px;
    height: auto;
    margin: auto;
    overflow: hidden;
    background: white;
    border: 1px solid #e6e6e6;
}

#header {
    width: 100%;
    height: 150px;
}

#content {
    width: 100%;
    height: auto;
    float: left;
    overflow: hidden;
}

#main-content {
    width: 100%;
    height: auto;
    margin-top: 5px;
    overflow: hidden;
}

#top-content {
    width: 100%;
    height: 40px;
    /*background:url("../img/bg-input.jpg") repeat-x; */
    /*border-top:1px solid black;*/
    background-color: #0984e3;
}

#top-content p {
    color: white;
    float: right;
    line-height: 40px;
    padding-right: 30px;
}

#left-content {
    width: 200px;
    height: auto;
    float: left;
    overflow: hidden;
    /*padding-bottom:50px;*/
}

.center {
    width: 188px;
    height: auto;
    overflow: hidden;
    border: 1px solid #b4b4b4;
    margin: auto;
    border-radius: 5px;
}

.center h3 {
    width: 188px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: #00b894;
}

.center ul {
    width: 100%;
    height: auto;
    overflow: hidden;
    background: #74b9ff;
    padding-bottom: 40px;
}

.center ul li {
    padding: 10px 0px 10px 0px;
    height: 15px;
    width: 100%;
    border-bottom: 1px solid #aea8a8;
}

.center ul li a {
    color: #2d3436;
    float: left;
    padding-left: 20px;
}

.center ul li a:hover {
    text-decoration: underline;
}

#phukien {
    width: 200px;
    height: auto;
    overflow: hidden;
    background: #ffffff;
    margin-top: 20px;
}

#quangcao1 {
    padding-top: 20px;
}


/* Show content_admin*/

#center-content {
    width: 980px;
    height: auto;
    float: right;
    overflow: hidden;
    padding-right: 10px;
    overflow: hidden;
    /* padding-bottom: 50px; */
}

.footer {
    width: 100%;
    height: 50px;
    border-radius: 5px;
}


/*-----------------------Check hóa đơn-------------------------------------*/

#check {
    width: 100%;
    height: auto;
    overflow: hidden
}

#check p input {
    width: 100px;
    height: 30px;
    cursor: pointer;
    background: white;
    border: 1px solid green;
}

#check p input:nth-child(2) {
    width: 50px;
}

#check p input:nth-child(3) {
    width: 50px
}

#check p input:hover {
    background: green;
    color: white;
}


/*-----------------------Sản phẩm mới nhập về-------------------------------------*/

#admincon {
    width: 980px;
    height: auto;
    overflow: hidden;
}

#sanphammoi {
    width: 100%;
    height: auto;
    overflow: hidden;
}

#sanphammoi table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

#sanphammoi tr {
    text-align: center;
}

#sanphammoi tr td {
    border: 1px solid green;
}

#sanphammoi tr.tieudespmoi {
    color: white;
    background: #2de135;
    height: 30px;
    font-size: 18px;
}

#sanphammoi tr.sanphammoitheongay {
    background: green;
    height: 30px;
    text-align: center;
    color: white;
    font-size: 22px;
    font-weight: bold;
}

#sanphammoi:nth-child(2) {
    margin-top: 10px;
}

#sanphammoi:nth-child(3) {
    margin-top: 10px;
}